# Common
Makefile.in
Makefile
*.o
.deps

# Root only.
/m4
/aclocal.m4
/autom4te.cache/
/config.log
/config.status
/configure
/install-sh
/missing
/build
/compile
/depcomp
/ltmain.sh
/libtool
/config.guess
/config.sub
