/Makefile
/Makefile.in
/config.h
/config.h.in
/config.h.in~
/stamp-h1

/.*.cmd
/*.o
/*.lo
/*.la

/.tmp_versions
/Module.symvers
/kring.ko
/kring.mod.c
/module.c
/modules.order
/Kbuild
/attribute.h

/client
/.deps
/.libs
