/Makefile
/Makefile.in
/config.h
/config.h.in
/config.h.in~
/stamp-h1

/.*.cmd
/*.o

/.tmp_versions
/Module.symvers
/shuttle.ko
/shuttle.mod.c
/module.c
/modules.order
/Kbuild
/attribute.h
/genf.mk
/genf.h.in
/init.d
/bootstrap.sh
/bootstrap

/genf.h
/shuttle-down
/shuttle-up
/vpn-down
/vpn-up
/openvpn.conf
/client.conf
